<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">

<head>
    <script th:src="@{/js/ckeditor.js}"></script>
</head>

<th:block layout:fragment="css">
    <style>
        .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused){
            border: none;
        }
        .ck.ck-editor__editable.ck-blurred .ck-widget.ck-widget_selected, .ck.ck-editor__editable.ck-blurred .ck-widget.ck-widget_selected:hover{
            outline: none;
        }
        .ck-editor__main .table{
            width: auto;
        }
    </style>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        let errMsg = [[${errMsg}]];

        if(errMsg){
            alert(errMsg);
        }

        //포스트 삭제
        function deletePost(){
            let token = $("meta[name='_csrf']").attr("content");
            let header = $("meta[name='_csrf_header']").attr("content");

            let url = "/blog/" + [[${postDTO.postId}]]

            $.ajax({
                url:url,
                type: "DELETE",
                beforeSend: function (xhr){
                    xhr.setRequestHeader(header,token);
                },
                dataType: "json",
                cache: false,
                success: function (result, status){
                    alert("삭제가 완료되었습니다.");
                    location.href = '/blog/list';
                },
                error: function (jqXHR, status, error){
                    alert(jqXHR.responseText);
                    location.href = '/blog/list';
                }
            });
        }

        //댓글 쓰기
        function writeComment(){
            let token = $("meta[name='_csrf']").attr("content");
            let header = $("meta[name='_csrf_header']").attr("content");
            let content = $("#content").val();
            let postId = [[${postDTO.postId}]];
            let writeData = {content: content, postId: postId};

            $.ajax({
                url: '/comment',
                type: 'POST',
                beforeSend: function (xhr){
                    xhr.setRequestHeader(header,token);
                },
                data: JSON.stringify(writeData),
                contentType: "application/json; charset=utf-8",
                dataType: "json",

                success:function (result){
                    alert("댓글 작성이 완료되었습니다.");
                    loadComments();
                    $("#content").val("");
                },
                error: function (jqXHR, status, error){
                    alert(jqXHR.responseText);
                },
            });

        }

        //댓글 목록 불러오기
        function loadComments(){
            $("#comment-list").html("");
            let postId = [[${postDTO.postId}]];
            let url = `/comment/all?postId=${postId}`;

            $.ajax({
               url: url,
               type: "GET",
               dataType: "JSON",
                cache:false,

                success:function (result){
                    result.forEach(comment=> {
                        let $commentDiv = `
                            <div class="media mb-4" id="comment-${comment.commentId}">
                                <img class="d-flex mr-3 rounded-circle" src="${comment.memberAvatar}" width="60px" />
                                <div class="media-body">
                                      <div class="float-right util-buttons"></div>
                                      <h5 class="mt-0">
                                          <b>${comment.memberNick}</b>&nbsp; &nbsp;<small class="text-muted">${comment.commentDate}</small>
                                      </h5>
                                      <p></p>
                                      <p>${comment.content}</p>
                                </div>
                            </div>
                            <hr/>
                        `;
                        $("#comment-list").append($commentDiv);
                        [# sec:authorize="isAuthenticated()"]
                            //현재 로그인한 사용자 Nick;
                            let myNick = [[${#authentication.principal.nick}]];
                            //댓글 작성 사용자 Nick
                            let commentNick = comment.memberNick;

                            //로그인한 사용자 == 댓글 작성자이면 edit delete 버튼 추가
                            if(myNick == commentNick){
                                let $editBtn = `<button class="btn btn-sm btn-info ml-1" onclick="editSetting(${comment.commentId})">Edit</button>`;
                                let $deleteBtn = `<button class="btn btn-sm btn-danger ml-1" onclick="deleteComment(${comment.commentId})">Delete</button>`;
                                $("#comment-" + comment.commentId + " .util-buttons").append($editBtn);
                                $("#comment-" + comment.commentId + " .util-buttons").append($deleteBtn);
                            }
                        [/]
                    });
                },
                error: function (jqXHR, status, error){
                    alert(jqXHR.responseText);
                }
            });
        }

        function deleteComment(commentId){
            let token = $("meta[name='_csrf']").attr("content");
            let header = $("meta[name='_csrf_header']").attr("content");
            if(confirm("정말 삭제하시겠습니까?")){
                $.ajax({
                    url: '/comment/' + commentId,
                    type: 'DELETE',
                    beforeSend: function (xhr){
                        xhr.setRequestHeader(header,token);
                    },
                    dataType: "json",
                    cache: false,
                    async: false,
                    success: function (result){
                        alert(result.responseText);
                    },
                    error: function (jqXHR, status, error){
                        alert(jqXHR.responseText);
                        return;
                    }
                });
                loadComments();
            } else{
                return;
            }
        }

        $(document).ready(function (){
           $('#post-delete').click(function (){
              deletePost();
           });

            loadComments();
        });

    </script>
</th:block>

<div layout:fragment="content">
    <div id="post-area">
        <span class="badge badge-secondary float-right" th:if="${postDTO.categoryDTO != null}" th:text="${postDTO.categoryDTO.name}"></span>
        <span class="badge badge-secondary float-right" th:unless="${postDTO.categoryDTO != null}">미분류</span>

        <!-- Title -->
        <h1 class="mt-4" th:text="${postDTO.title}"></h1>
        <h5 class="text-muted" th:text="${postDTO.hook_text}"></h5>

        <!-- 작성자 -->
        <p class="lead">
            by <a href="#" th:text="${postDTO.writer}"></a>
        </p>

        <hr/>

        <!-- 포스트 삭제 버튼 -->
        <a id="post-delete" sec:authorize="isAuthenticated()" th:if="${#authentication.principal.Nick == postDTO.writer}" class="btn btn-danger btn-sm float-right ml-1" role="button">
            <i class="fas fa-trash"></i> 포스트 삭제
        </a>

        <!-- 포스트 수정 버튼 -->
        <a sec:authorize="isAuthenticated()" th:if="${#authentication.principal.Nick == postDTO.writer}" class="btn btn-info btn-sm float-right" th:href="@{/admin/editPost(postId=${postDTO.postId})}" role="button">
            <i class="fas fa-pen"></i> 포스트 수정
        </a>



        <!-- 작성날짜 -->
        <p th:text="'Posted on ' + ${postDTO.postDate}"></p>

        <hr />

        <!--헤드 이미지-->
        <img class="img-fluid rounded" th:if="${postDTO.headImgUrl != null}" th:src="${postDTO.headImgUrl}" />
        <img class="img-fluid rounded" th:unless="${postDTO.headImgUrl != null}" th:src="'https://picsum.photos/seed/' + ${postDTO.postId} + '/800/200'" />
        <hr />

        <!-- 본문 -->
        <textarea class="editor" th:text="${postDTO.content}"></textarea>
        <br /><br />

        <!-- 태그영역 -->
        <th:block th:if="${postDTO.tags != null}">
            <i class="fas fa-tags"></i>
            <th:block th:each="tag:${postDTO.tags}">
                <a th:href="@{/blog/search(type='tag', searchWord=${tag})}">
                    <span class="badge badge-pill badge-light" th:text="${tag}"></span>
                </a>
            </th:block>
            <br /><br />
        </th:block>

        <!-- 첨부파일 -->
        <a th:href="@{/ajax/fileDownload(url=${postDTO.attachedFileUrl}, orgFileName=${postDTO.attachedFileName})}" th:if="${postDTO.attachedFileUrl != null}" class="btn btn-outline-dark" role="button" download>
            <i class="fa fa-file"></i> [[${postDTO.attachedFileName}]]
        </a>
        <hr />
    </div>

    <!-- 댓글창 -->
    <div id="comment-area">
        <!-- 댓글 작성란 -->
        <div class="card my-4">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
                <div sec:authorize="isAuthenticated()" id="comment-box">
                    <div class="form-group">
                        <textarea name="content" cols="40" rows="5" class="form-control" id="content" required></textarea>
                    </div>
                    <button onclick="writeComment()" class="btn btn-primary">작성</button>
                </div>

                <a sec:authorize="isAnonymous()" role="button" class="btn btn-outline-dark btn-block btn-sm" href="#" data-toggle="modal" data-target="#loginModal">
                    댓글을 쓰려면 로그인 하세요
                </a>
            </div>
        </div>

        <!-- 댓글 목록 -->
        <div id="comment-list"></div>
    </div>

    <script th:inline="javascript">
        ClassicEditor
            .create( document.querySelector( '.editor' ), {
                licenseKey: '',
            } )
            .then( editor => {
                const toolbarElement = editor.ui.view.toolbar.element;

                editor.enableReadOnlyMode(editor.id);
                toolbarElement.style.display = 'none';

                window.editor = editor;

            } )
            .catch( error => {
                console.error( 'Oops, something went wrong!' );
                console.error( 'Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:' );
                console.warn( 'Build id: bs03ogvipfit-mir5mhpvo533' );
                console.error( error );
            } );
    </script>

</div>

</html>