<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title>Seo's Blog</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <!--fontawesome-->
    <script src="https://kit.fontawesome.com/8307c7bcd2.js" crossorigin="anonymous"></script>

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
            integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
            crossorigin="anonymous"></script>

    <script>
        function searchPost(){
            let searchValue = document.getElementById('search-input').value.trim();
            if (searchValue.length>1){
                location.href='/blog/search?type=contentOrTitle&searchWord=' + searchValue;
            } else {
                alert('검색어(' + searchValue + ')가 너무 짧습니다.');
            }
        }

        $(document).ready(function (){
            let token = $("meta[name='_csrf']").attr("content");
            let header = $("meta[name='_csrf_header']").attr("content");
            //검색 text박스 엔터 누를시 검색
           $('#search-input').keyup(function (e){
               if(e.key == 'Enter'){
                   searchPost();
               }
           });

           //카테고리 정보 얻기
           $.ajax({
               url: "/category/info",
               type: "GET",
               beforeSend: function (xhr){
                   xhr.setRequestHeader(header,token);
               },
               dataType: "json",
               cache:false,
               success: function (result, status){
                   result.forEach(categoryDTO=>{
                       if(categoryDTO.id){
                           let $categoryinfo = "<li><a href='/blog/search?type=category&searchWord=" + categoryDTO.id + "'>" + categoryDTO.name + " (" + categoryDTO.countPost + ")</a></li>";
                           $("#category-list").append($categoryinfo);
                       }
                   });
               }
           });

        });
    </script>

    <th:block layout:fragment="script"></th:block>
    <th:block layout:fragment="css"></th:block>

    <style>
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            /* Margin bottom by footer height */
            margin-bottom: 300px;
        }

        .my-footer{
            position: absolute;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: 150px;
        }
    </style>
</head>

<body>
    <!--헤더-->
    <th:block th:replace="fragments/header::header"></th:block>

    <!--메인 컨텐츠-->
    <div class="container my-3">
        <div class="row">
            <div layout:fragment="content" class="col-md-8 col-lg-9" id="main-area">

            </div>
            <!--검색창, 카테고리 목록-->
            <div class="col-md-4 col-lg-3">
                <!--검색창-->
                <div class="card my-4">
                    <h5 class="card-header">Search</h5>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search..." id="search-input" />
                            <span class="input-group-append">
                                <button class="btn btn-secondary" type="button" onclick="searchPost()">검색</button>
                            </span>
                        </div>
                    </div>
                </div>

                <!--카테고리창-->
                <div class="card my-4" id="categories-card">
                    <h5 class="card-header">Categories</h5>
                    <div class="card-body">
                        <div class="row">
                            <ul id="category-list">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--푸터-->

        <th:block th:replace="fragments/footer::footer"></th:block>


</body>

</html>